@import 'lib/normalize';
@import 'lib/react-virtual';
@import '~bourbon/app/assets/stylesheets/bourbon';
@import '~bourbon-neat/app/assets/stylesheets/neat';

body{
    scroll-behavior: smooth;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

}

a {
  text-decoration: none;
  color: black;
}

::selection {
  background: #ffb7b7; /* WebKit/Blink Browsers */
}

.mainAppContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.searchBar {
  flex: 1;
  border-bottom: 1px solid #EEE;
  display: flex;
}

.searchBarContainer {
  flex: 1;
  justify-content: center;
  align-items: center;
  display: flex;
}

.proteinSearchBarText {
  height: 40px;
  padding: 15px;
  background-color: #F9FAFB;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border: 1px solid #CCC;
  & svg {
    position: relative;
    bottom: 5px;
  }
  & path {
    fill: #A7ADB5;
  }
}

.proteinSearchBar {
  height: 40px;
  width: 400px;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  border: 1px solid #CCC;
  border-right: none;
  padding: 10px;
  &:focus {
    outline: 0;
  }
}

.proteinElement {
  flex: 5;
  display: flex;
  overflow: scroll;
}

.proteinElement::-webkit-scrollbar { 
    display: none; 
}

.proteinBlockSection {
  display: flex;
  width: 160px;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  flex-direction: column;
  text-transform: uppercase;
  &:hover {
    background-color: #F9FAFB;
    & .eachProtein {
      height: 100px;
      transition: 0.25s;
      color: rgba(255, 255, 255, 1);
      opacity: 1;
    }
    & .proteinName {
      opacity: 1;
      transition: 0.4s;
    }
  }
  &.selected {
    background-color: #F9FAFB;
    .eachProtein {
      opacity: 1;
      color: #FFF;
    }
  }
}

.proteinSection {
  display: flex;
  flex-direction: row;
}

.proteinName {
  opacity: 0;
}

.eachProtein {
  height: 80px;
  width: 40px;
  flex: 1;
  border-radius: 20px;
  transition: 0.25s;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(255, 255, 255, 0.3);
  opacity: 0.3;
}

.sidebarBackground {
  position: absolute;
  width: 100%;
  height: 100%;
}

.sidebarElement {
  width: 400px;
  height: 100%;
  position: absolute;
  background-color: #F9FAFB;
  z-index: 2;
  border-right: 1px solid #CCC;
  left: -400px;
  transition: 0.4s;
  display: flex;
  flex-direction: column;
  &.open {
    left: 0px;
    transition: 0.4s;
  }
}

.sidebarNavigation {
  flex: 1;
  background-color: white;
  border-bottom: 1px solid #CCC;
}

.sidebarContent {
  flex: 10;
  display: flex;
}

.sidebarContentContainer {
  margin: 15px;
  flex: 1;
  display: flex;
  flex-direction: column;
  h2 {
    font-weight: 400;
  }
}

.sidebarCloseButton {
  background-color: transparent;
  float: right;
  border: none;
  height: 40px;
  width: 40px;
  border-radius: 40px;
  margin: 15px;
  & path {
    fill: #CCC;
  }
  &:focus {
    outline: 0;
  }
}

.sidebarCard {
  flex: 1;
  max-height: 250px;
  background-color: #FFF;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.sidebarCardStrand {
  flex: 1;
  min-width: 20px;
}

.sidebarCardContent {
  flex: 15;
  display: flex;
}

.sidebarCardContentContainer {
  margin: 10px 15px;
  display: flex;
  flex-direction: column;
  width: 300px;
  word-wrap: break-word;
  justify-content: center;
  h3, p {
    margin: 0;
  }
  p {
    margin: 5px 0px;
    &:first {
      margin-top: 0px;
    }
  }
  h3 {
    margin: 0;
    font-weight: 400;
  }
}

.subtitle {
  color: #707070;
  font-size: 14px;
}


.spinner {
  background: #ebeef0;
  display: inline;
  height: 24px;
  width: 24px;
  border: 6px solid #d3dbe2;
  border-top-color: #ebeef0;
  border-radius: 100%;
  -webkit-animation: rotation 1.5s infinite linear 0.25s;
          animation: rotation 1.5s infinite linear 0.25s;
  opacity: 0;
}

@keyframes rotation {
  from {
    opacity: 1;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    opacity: 1;
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

.modalBackground {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
  display: flex;
  background-color: rgba(0,0,0,0.3);
  align-items: center;
  justify-content: center;
}

.modalElement {
  flex: 1;
  max-width: 75%;
  height: 600px;
  border: 1px solid #CCC;
  background-color: white;
  z-index: 4;
  display: flex;
  flex-direction: column;
}

.modalNavigation {
  flex: 1;
  display: flex;
  h3 {
    flex: 1;
    margin: 30px 20px;
    font-weight: 400;
  }
}

.modalContent {
  flex: 12;
  display: flex;
  overflow: scroll;
  .modalContentContainer {
    margin: 15px;
    flex: 1;
    display: flex;
    flex-direction: row;
  }
}

.disabled {
  pointer-events: none;
  cursor: default;
  color: #EEE;
}